<!-- Footer -->
<footer class="page-footer font-small special-color pt-4 mt-4" id="footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">who are us</h5>
        <p>beeToMood est une plateforme de statistiques d'humeur. Une journée de m<sup>****</sup> ?? Un bon jour ?<br> Partagez le ici !</p>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->