<!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/xTiN0L7EW5trfOvEk0" width="50%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div> -->
<!-- <p><a href="https://giphy.com/gifs/internet-apple-technology-xTiN0L7EW5trfOvEk0"></a></p>
<p><a href="https://giphy.com/gifs/mini-italia-8L0Pky6C83SzkzU55a"></a></p> -->
<div class="gif">
  <img src="../assets/img/giphy.gif">
</div>