<p>
  humeur works!
</p>

<div class="humeuremo">
  <li class="emohappy">
    <a href="https://www.w3schools.com">
    <img border="0" alt="emohappy" src="" width="100" height="100">
  </li>
  <li class="emosmile">
    <img src="..img/emosmile.png" alt="ton image"/></a>
  </li>
  <li class="eomeh">
    <a href="https://www.w3schools.com">
    <img border="0" alt="eomeh" src="" width="100" height="100">
  </li>
  <li class="emosad">
    <a href="https://www.w3schools.com">
    <img border="0" alt="emosad" src="" width="100" height="100">
  </li>
</div>

<!-- (click)="maFun()" -->