<h1>Liste des utilisateurs</h1>
<div class="card">
  <div class="card-body">
    <div *ngFor="let user of users; let i = index">
      {{ i+1 }} - {{ user.firstname }}
      <app-user-case></app-user-case>

    </div>
  </div>
</div>
