.xx-swatches {
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 2em;
}



.xx-swatch {
    float: left;
    width: 15em;
    margin-right: 1em;
    list-style-type: none;
    font-size: 0.8em;
    line-height: 1.2em;
    margin-bottom: 1em;
    background-color: #fff;
    height: 13em;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
  }

.beeimg{
  position: absolute;
  height: 90px;
}
