<!-- <div class="table-bordered">
  <div>
    <p>Username : </p>
    <p>Id : </p>
  </div>
</div> -->


<ul class="xx-swatches">
  <li class="xx-swatch">
    <p>Username : </p>
    <p>Id : </p>
    <img class="beeimg" src="../assets/img/bee.jpg">
  </li>
  <li class="xx-swatch">
    <p>Username : </p>
    <p>Id : </p>
    <img class="beeimg" src="../assets/img/bee.jpg">

  </li>
  <li class="xx-swatch">
    <p>Username : </p>
    <p>Id : </p>
    <img class="beeimg" src="../assets/img/bee.jpg">

  </li>
  <li class="xx-swatch">
    <p>Username : </p>
    <p>Id : </p>
    <img class="beeimg" src="../assets/img/bee.jpg">

  </li>
  <li class="xx-swatch">
    <p>Username : </p>
    <p>Id : </p>
    <img class="beeimg" src="../assets/img/bee.jpg">

  </li>
  <li class="xx-swatch">
    <p>Username : </p>
    <p>Id : </p>
    <img class="beeimg" src="../assets/img/bee.jpg">

  </li>
  <li class="xx-swatch">
    <p>Username : </p>
    <p>Id : </p>
    <img class="beeimg" src="../assets/img/bee.jpg">

  </li>
</ul>