<div class="card mt-5">
  <div class="card-header">Ajouter un groupe</div>
  <div class="card-body">
    <div class="form-group">
      <label for="name">Nom du groupe</label>
      <input id="name" type="text" class="form-control" [(ngModel)]="name" placeholder="Nom du groupe">
    </div>
    <div class="form-group">
      <label for="hour">Heure de l'envoi du mail de rappel</label>
      <input id="hour" type="text" class="form-control" [(ngModel)]="hours" placeholder="Hh:mm">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" type="text" class="form-control" [(ngModel)]="description" placeholder="Description du groupe"></textarea>
    </div>
    <button class="btn btn-yellow" (click)="add()">AJouter un groupe</button>
  </div>
</div>
