<div class="card mt-5">
  <div class="card-body center">
    <p>Comment c'est passé votre journée, exprimez votre humeur avec les smileys !!!</p>
  </div>
</div>


<div class="card mb-4 box-shadow container chan">
  <img class="imgsmiley" draggable="false" src="../../assets/img/happy.svg">
  <img class="imgsmiley" draggable="false" src="../../assets/img/smiling.svg">
  <img class="imgsmiley" draggable="false" src="../../assets/img/confused.svg">
  <img class="imgsmiley" draggable="false" src="../../assets/img/sad.svg">
  <img class="imgsmiley" draggable="false" src="../../assets/img/unhappy.svg">
</div>
<div class="card mb-4 box-shadow container">
  <div class="range-box kun">
    <input class="slider" type="range" min="1" max="5" value="3">
  </div>
</div>
<div class="card mt-5 form-group text-center">
  <form method="post" class="form-control" action="traitement.php">
    <p>
      <label class="kun" for="ameliorer">Dites nous les raisons de votre choix 😊 !</label><br />
      <input class="kun center" name="ameliorer" id="ameliorer">
    </p>
  </form>
</div>

<div class="center chan">
  <button type="button" class="btn btn-yellow waves-light" routerLink="/home" mdbWavesEffect>Valider</button>
</div>