.imghappy{
  color: inherit;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(255, 251, 0);
  cursor: pointer;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(255, 251, 0);
  cursor: pointer;
}


.container {
  flex-direction: row;
}
.imgsmiley{
  width: 15%;
}
.kun {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
input  {
  width: 100%
}
.chan {
  display: flex;
  justify-content: space-around;

}