<h1 class="my-3 text-white" xmlns="http://www.w3.org/1999/html"><i class="fa fa-dashboard"></i> Dashboard</h1>
<div class="card">
  <div class="card-header">
    Bienvenue <span class="">username</span>
  </div>
  <div class="card-body">
    Card
  </div>
</div>


<!--Card-->
<div class="card card-cascade wider reverse my-4 mb-5">

    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
        <img src="../../assets/lead-image-bee-campaign.jpg" class="img-fluid">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Bonjour petite abeille</strong></h4>
        <h5 class="yellow-text"><strong>Vous n'avez toujours pas renseignez votre humeur</strong></h5>
        <button type="button" routerLink="/mood" class="btn btn-warning waves-light" mdbWavesEffect>BEEYOURMOOD</button>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card--> 