<div class="card mt-5">
  <div class="card-body">
    <h4 class="">Login</h4>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" name="email" id="email" class="form-control" placeholder="email" [(ngModel)]="mail">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe"
             [(ngModel)]="password">
    </div>
    <button id="connect" (click)="login()" class="btn btn-success">Connexion</button>
  </div>
</div>
