<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark warning-color lighten-5">

  <!-- Navbar brand -->
  <logo><img src="../../assets/beeLogo.png" width="40px" style="vertical-align: middle"><a class="navbar-brand" routerLink="/home">beeToMood</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="home" class="nav-link waves-light" mdbWavesEffect>Home</a>
      </li>
      <li *ngIf="isManager || isAdmin" class="nav-item" routerLinkActive="active">
        <a routerLink="admin" class="nav-link waves-light" mdbWavesEffect>Administration</a>
      </li>
      <li *ngIf="isManager || isAdmin" class="nav-item" routerLinkActive="active">
        <a routerLink="users" class="nav-link waves-light" mdbWavesEffect>Utilisateurs</a>
      </li>
      <li *ngIf="isManager || isAdmin" class="nav-item" routerLinkActive="active">
        <a routerLink="groups" class="nav-link waves-light" mdbWavesEffect>Groupes</a>
      </li>
      <li *ngIf="login" class="nav-item" routerLinkActive="active">
        <a routerLink="mood" class="nav-link waves-light" mdbWavesEffect>Mood</a>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
      <li *ngIf="login" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Bienvenue username</a>
      </li>
      <li *ngIf="login" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="authService.logout()" routerLink="login">Logout</a>
      </li>
      <li *ngIf="!login" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="login">Login</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Langue<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary text-center" role="menu">
          <img src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg" width="20px">
          <div class="divider dropdown-divider"></div>
          <img src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" width="20px">
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
