<div class="card mt-5">
  <div class="card-header">
    Liste des groupes
    <a routerLink="add" class="btn btn-yellow">Ajouter un groupe</a>
  </div>
  <div class="card-body">
    <div *ngFor="let group of groups">
      <div class="row">
        {{ group.name }}
        <button (click)="delete(group.id)"> supprimer ce groupe</button>
      </div>
    </div>
  </div>
</div>
